
<%#= link_to 'All Posts', posts_path %>


<% if @posts.present? %>
<div class="row clearfix">
<% @posts.each do |post| %>
	<div class="col-lg-3" >
		<div style="min-height:500px;overflow:hidden;">

		
		<h5>
			<%=  link_to post_path(post) do  %>
				<%= image_tag post.image.url(:medium) %>
			<% end %>
			<%= post.title %>
		</h5>

		<% if Setting.tag_visible? %>
			<div>
				<% post.tags.each do |tag| %>
					<%= link_to tag.name, posts_path(tag: tag.name), :class => 'tag' %>
				<% end %>
			</div>
		<% end %>

		</div>
	</div>
<% end %>

</div>
<% end %>


