



<form action="/posts" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="✓">
	<div class="input-group">
		<input type="text" name="search" id="search" value="" class="form-control">
		
		<span class="input-group-btn">
			<input type="submit" name="commit" value="Søk" class="btn btn-primary">
            <i class="fa fa-search"></i>
        </span>
	</div>
</form>